body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top right, #000, #1b1b35);
  overflow: hidden;
  color:#dddddd
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(100, 128, 150, .25);;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar input[type="search"] {
  width: 150px;
  height: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  margin-right: 10px;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  width: calc(50%-200px);
}

.tab {
  background-color: rgba(100, 128, 150, .45);
  height: 12px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: rgba(100, 128, 150, .8);
}

.tab.active {
  background-color: rgba(100, 128, 150, .8);
}

.close-tab {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.add-tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(100, 128, 150, .45);
  height: 12px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.add-tab:hover {
  background-color: rgba(100, 128, 150, .8);
}

.content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: calc(100vh - 10px);
  padding: 10px;
  overflow-y: auto;
}

.content div {
  background-color: rgba(20, 40, 40, 0.1);
  border-radius: 10px;
  width: calc(100%-20px);
  height: calc(100vh-80px);
}

.rename-input {
  background-color: transparent;
  border: none;
  font-size: 16px;
}


.help-button {
  background-color: rgba(100, 128, 150, .45);
  height: 12px;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.help-button:hover {
  background-color: rgba(100, 128, 150, .8);
}

input {
  background-color: #0000;
  border:1px solid rgba(100, 128, 150);
  color:#dddddd;
}
input:focus {
  
  border:2px solid rgba(100, 128, 150);
  outline: none;
}