.right{
    display: inline-block;
    vertical-align: top; 
    right: 0;
    width: calc(60% - 23px);
    min-width: calc(30% - 23px);
    max-width: calc(70% - 23px);
    opacity: 0.9;
    z-index: 3;
}

.left{
    display: inline-block;
    vertical-align: top; 
    width: 40%;
    min-width: 30%;
    max-width: 70%;
    opacity: 0.9;
}
  
.assignment{
    display: fixed;
    height: 95vh;
    border-radius: 10px;
    margin-left: 10px;
}
  
#resize-handle {
    width: 8px;
    height: 94vh; 
    position: inline-block;
    cursor: ew-resize; 
    background-color: rgba(100, 128, 150, .25); 
    display: inline-block;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


#vertical-line {
    display: flex;
    margin: 0;
    width: 2px; 
    height: 40%; 
    background-color: rgba(100, 128, 150); 
    border: none; 
    position: relative;
    top: 30%; 
    left: 40%;
}

.controls {
    height: 4vh;
    min-height: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    width: 100%;      
    background-color: rgba(100, 128, 150, .45);
}

.controlsL {
    height: 4vh;
    min-height: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;      
    background-color: rgba(100, 128, 150, .25);
}

.button {
    background-color: rgba(100, 128, 150, .45);
    height: 12px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: rgba(100, 128, 150, .8);
  }
  

  select {
    background-color: rgba(100, 128, 150, 0.45);
    padding: 8px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border: none;
    outline: none; 
    color: white; 
  }
  
  select::after {
    content: '▼'; /* Unicode down arrow character */
    position: absolute;
    top: calc(50% - 0.5em);
    right: 10px;
    color: white;
    pointer-events: none;
  }
  
  select:hover {
    background-color: rgba(100, 128, 150, 0.6);
  }
  
  select:focus {
    background-color: rgb(23, 44, 59);
  }